<form [formGroup]="newRaceForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="name">Number</label>
        <input type="number" class="form-control" formControlName="number" id="name" placeholder="Enter number">
    </div>
    <button class="btn btn-primary" [disabled]="newRaceForm.invalid" (click)="onSaveRaceInfo()">SAVE</button>
</form>